:root {
  --bg-main-color: #6356fe;
  --bg-body-color: #121212;
  --bg-sub-color: #a7a7a7;
}
body {
  background-color: var(--bg-body-color);
  height: 100vh;
  color: white;
  font-family: "Pretendard-Regular", sans-serif;
}
