#collection-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
  margin-top: 4rem;
}
#collection-section figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 1px solid var(--bg-sub-color);
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
#collection-section figcaption {
  margin-top: 1.5rem;
}

#collection-section img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
footer {
  margin: 6rem;
}
