form {
  margin: 2rem 0;
}

/* input 스타일 */
form input[type="month"] {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

/* gallery-section */
#gallery-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 7rem;
}

#gallery-section figcaption {
  margin-top: 1rem;
  width: 300px;
  line-height: 1.3rem;
}
#gallery-section img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

/* gallery-article  */
#gallery-article {
  width: 50%;
}
#gallery-article img {
  top: 6rem;
  right: 24rem;
  width: 460px;
}
