/* video */
.video-container {
  display: flex;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 2rem;
}
.video-overlay {
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.video-overlay {
  font-size: 24px;
}

.video-overlay > figcaption {
  font-size: 64px;
  position: absolute;
  bottom: 30rem;
  left: 75rem;
}

.video-overlay > p {
  position: absolute;
  bottom: 20rem;
  left: 75rem;
  font-size: 20px;
  line-height: 2.5;
}

/* APOD */
h1 {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
#apod-section {
  margin: 0 20rem;
}
.apod-img-day {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  color: var(--bg-sub-color);
  margin-top: 1rem;
}

.apod-text-box {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.apod-text-box img {
  height: 28rem;
  margin-right: 2rem;
  object-fit: cover;
}
.apod-text-box {
  display: flex;
}
.apod-article > h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.apod-article p {
  display: flex;
  color: var(--bg-sub-color);
  width: 30rem;
  line-height: 1.4rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  text-overflow: ellipsis;
}
.apod-article button {
  width: 257px;
  height: 51px;

  color: white;
  background-color: var(--bg-body-color);
  border: 1px solid white;
  border-radius: 230px;
  cursor: pointer;
  margin: 3rem 5.4rem;
}
.apod-article button:hover {
  border: 1px solid var(--bg-main-color);
  transition: border-color 0.3s ease;
}

/* Astronomy Gallery */
#astronomy-gallery h1 {
  margin-bottom: 6rem;
}

.gallery-image-container {
  margin: 0 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6rem;
  gap: 10px;
}

.gallery-image-container figure {
  width: 100%;
}

.gallery-image-container img {
  height: 250px;
  margin: 0 1rem;
  width: 100%;
  object-fit: cover;
}
